# ProjectName :-{{projectName}}
- {{description}}
##  Create In Year :
 - {{year}}

# Published To
- [Github](https://github.com/manishmg3994/{{projectName}})
# Funding
- [Sponsor](https://github.com/sponsors/manishmg3994)
- [UPI/Netbanking/wallet](https://p.paytm.me/xCTH/bbjzneh0)

# Requirements and Details
- Created By : {{organization}}

- Dart SDK: {{dartSdkVersionBounds}}
- Flutter Channel :- {{flutterChannel}}
- Flutter Revision: {{flutterRevision}}

## Extra Details
- Android Language Used: {{androidLanguage}}
- IOS Language Used : {{iosLanguage}}

# Supported Platforms

- [{{#android}}x{{/android}}] Android
- [{{#ios}}x{{/ios}}] iOS
- [{{#web}}x{{/web}}] Web
- [{{#linux}}x{{/linux}}] Linux
- [{{#macos}}x{{/macos}}] MacOS
- [{{#windows}}x{{/windows}}] Windows

# Table of Contents

- [Documentation](#documentation)
- [Use Cases](#use-cases)
- [Features](#features)
- [Screenshots](#screenshots)

# Documentation

This section provides details and instructions on how to use your project. Add your documentation content here.

# Use Cases

Describe real-world scenarios where your project can be useful. Add your use cases here.

# Features

List the functionalities and capabilities of your project. Add your project's features here.

# Screenshots

Add screenshots or images of your project here. You can use the standard Markdown image syntax:
![Alt Text](URL)

{{^withEmptyMain}}

## Getting Started

This project is a starting point for a Flutter application.

A few resources to get you started if this is your first Flutter project:

- [Lab: Write your first Flutter app](https://docs.flutter.dev/get-started/codelab)
- [Cookbook: Useful Flutter samples](https://docs.flutter.dev/cookbook)

For help getting started with Flutter development, view the
[online documentation](https://docs.flutter.dev/), which offers tutorials, samples, guidance on mobile development, and a full API reference.

{{/withEmptyMain}}
